.projects {
    margin: 0 auto;
    display: flex;
    width: 100%;
    color: black;
    scroll-margin-top: 50px;
}

.projectsConteiner {
    margin: 0 auto;
    text-align: center;
}

.projectsHeader {
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 50px;
    font-weight: 400;
}

.projectsInfo {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

@media (max-width:900px){
    .projectsInfo {
        flex-direction: column;
    }
}